openapi: 3.2.0
info:
  title: Stytch Management Redirect Url API
  description: Stytch's Management API for programmatic workspace actions — projects, environments, secrets, redirect URLs, RBAC policies, JWT templates, email templates, event log streaming, trusted token profiles, public tokens, and SDK configuration.
  version: 1.0.0
  contact:
    name: Stytch Support
    url: https://stytch.com/docs
    email: support@stytch.com
servers:
- url: https://management.stytch.com
  description: Production server
security:
- basicAuth: []
tags:
- name: Redirect Url
paths:
  /pwa/v3/projects/:project_slug/environments/:environment_slug/redirect_urls:
    post:
      summary: Create
      operationId: pwa_redirect_url_v3_Create
      tags:
      - Redirect Url
      description: Create creates a redirect URL for an environment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pwa_redirect_url_v3_CreateRequest'
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_redirect_url_v3_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
    get:
      summary: Get
      operationId: pwa_redirect_url_v3_Get
      tags:
      - Redirect Url
      description: Get retrieves a redirect URL for an environment.
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_redirect_url_v3_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
    put:
      summary: Update
      operationId: pwa_redirect_url_v3_Update
      tags:
      - Redirect Url
      description: Update updates the valid types for a redirect URL for an environment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pwa_redirect_url_v3_UpdateRequest'
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_redirect_url_v3_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
    delete:
      summary: Delete
      operationId: pwa_redirect_url_v3_Delete
      tags:
      - Redirect Url
      description: Delete deletes a redirect URL for an environment.
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      - name: url
        in: query
        required: true
        schema:
          type: string
      - name: do_not_promote_defaults
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_redirect_url_v3_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /pwa/v3/projects/:project_slug/environments/:environment_slug/redirect_urls/all:
    get:
      summary: Getall
      operationId: pwa_redirect_url_v3_GetAll
      tags:
      - Redirect Url
      description: GetAll retrieves all redirect URLs for an environment.
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_redirect_url_v3_GetAllResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
components:
  schemas:
    pwa_redirect_url_v3_UpdateRequest:
      type: object
      properties:
        valid_types:
          type: array
          items:
            $ref: '#/components/schemas/pwa_redirect_url_v3_UrlType'
        do_not_promote_defaults:
          type: boolean
      description: Request type
    pwa_redirect_url_v3_UpdateResponse:
      type: object
      properties:
        request_id:
          type: string
        redirect_url:
          $ref: '#/components/schemas/pwa_redirect_url_v3_RedirectUrl'
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - redirect_url
      - status_code
    pwa_redirect_url_v3_RedirectUrl:
      type: object
      properties:
        url:
          type: string
        valid_types:
          type: array
          items:
            $ref: '#/components/schemas/pwa_redirect_url_v3_UrlType'
      required:
      - url
      - valid_types
    pwa_redirect_url_v3_CreateResponse:
      type: object
      properties:
        request_id:
          type: string
        redirect_url:
          $ref: '#/components/schemas/pwa_redirect_url_v3_RedirectUrl'
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - redirect_url
      - status_code
    pwa_redirect_url_v3_CreateRequest:
      type: object
      properties:
        url:
          type: string
        valid_types:
          type: array
          items:
            $ref: '#/components/schemas/pwa_redirect_url_v3_UrlType'
        do_not_promote_defaults:
          type: boolean
      description: Request type
      required:
      - url
    pwa_redirect_url_v3_UrlType:
      type: object
      properties:
        is_default:
          type: boolean
        type:
          $ref: '#/components/schemas/pwa_redirect_url_v3_RedirectUrlType'
      required:
      - is_default
    pwa_redirect_url_v3_RedirectUrlType:
      type: string
      enum:
      - LOGIN
      - INVITE
      - SIGNUP
      - RESET_PASSWORD
      - DISCOVERY
    pwa_redirect_url_v3_GetAllResponse:
      type: object
      properties:
        request_id:
          type: string
        redirect_urls:
          type: array
          items:
            $ref: '#/components/schemas/pwa_redirect_url_v3_RedirectUrl'
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - redirect_urls
      - status_code
    pwa_redirect_url_v3_GetResponse:
      type: object
      properties:
        request_id:
          type: string
        redirect_url:
          $ref: '#/components/schemas/pwa_redirect_url_v3_RedirectUrl'
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - redirect_url
      - status_code
    pwa_redirect_url_v3_DeleteResponse:
      type: object
      properties:
        request_id:
          type: string
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - status_code
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
