openapi: 3.2.0
info:
  title: Stytch Management Event Log Streaming API
  description: Stytch's Management API for programmatic workspace actions — projects, environments, secrets, redirect URLs, RBAC policies, JWT templates, email templates, event log streaming, trusted token profiles, public tokens, and SDK configuration.
  version: 1.0.0
  contact:
    name: Stytch Support
    url: https://stytch.com/docs
    email: support@stytch.com
servers:
- url: https://management.stytch.com
  description: Production server
security:
- basicAuth: []
tags:
- name: Event Log Streaming
paths:
  /pwa/v3/projects/:project_slug/environments/:environment_slug/event_log_streaming/:destination_type:
    get:
      summary: Get
      operationId: pwa_event_log_streaming_v3_Get
      tags:
      - Event Log Streaming
      description: Get retrieves an event log streaming config for an environment.
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      - name: destination_type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_event_log_streaming_v3_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
    put:
      summary: Update
      operationId: pwa_event_log_streaming_v3_Update
      tags:
      - Event Log Streaming
      description: Update updates an event log streaming config for an environment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pwa_event_log_streaming_v3_UpdateRequest'
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      - name: destination_type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_event_log_streaming_v3_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
    delete:
      summary: Delete
      operationId: pwa_event_log_streaming_v3_Delete
      tags:
      - Event Log Streaming
      description: Delete deletes an event log streaming config for an environment.
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      - name: destination_type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_event_log_streaming_v3_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /pwa/v3/projects/:project_slug/environments/:environment_slug/event_log_streaming:
    post:
      summary: Create
      operationId: pwa_event_log_streaming_v3_Create
      tags:
      - Event Log Streaming
      description: Create creates an event log streaming config for an environment.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pwa_event_log_streaming_v3_CreateRequest'
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_event_log_streaming_v3_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /pwa/v3/projects/:project_slug/environments/:environment_slug/event_log_streaming/:destination_type/enable:
    post:
      summary: Enable
      operationId: pwa_event_log_streaming_v3_Enable
      tags:
      - Event Log Streaming
      description: Enable starts streaming event logs for an environment to a destination.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pwa_event_log_streaming_v3_EnableRequest'
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      - name: destination_type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_event_log_streaming_v3_EnableResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /pwa/v3/projects/:project_slug/environments/:environment_slug/event_log_streaming/:destination_type/disable:
    post:
      summary: Disable
      operationId: pwa_event_log_streaming_v3_Disable
      tags:
      - Event Log Streaming
      description: Disable stops streaming event logs for an environment to a destination.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pwa_event_log_streaming_v3_DisableRequest'
      parameters:
      - name: project_slug
        in: path
        required: true
        schema:
          type: string
      - name: environment_slug
        in: path
        required: true
        schema:
          type: string
      - name: destination_type
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationType'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pwa_event_log_streaming_v3_DisableResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
components:
  schemas:
    pwa_event_log_streaming_v3_DatadogConfigMasked:
      type: object
      properties:
        api_key_last_four:
          type: string
        site:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DatadogSite'
      required:
      - api_key_last_four
    pwa_event_log_streaming_v3_StreamingStatus:
      type: string
      enum:
      - ACTIVE
      - DISABLED
      - PENDING
    pwa_event_log_streaming_v3_DestinationConfig:
      type: object
      properties:
        datadog:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DatadogConfig'
        grafana_loki:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_GrafanaLokiConfig'
    pwa_event_log_streaming_v3_DestinationType:
      type: string
      enum:
      - DATADOG
      - GRAFANA_LOKI
    pwa_event_log_streaming_v3_EventLogStreaming:
      type: object
      properties:
        destination_type:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationType'
        destination_config:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationConfig'
        streaming_status:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_StreamingStatus'
    pwa_event_log_streaming_v3_DisableRequest:
      type: object
      properties: {}
      description: Request type
    pwa_event_log_streaming_v3_DatadogConfig:
      type: object
      properties:
        api_key:
          type: string
        site:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DatadogSite'
      required:
      - api_key
    pwa_event_log_streaming_v3_GrafanaLokiConfigMasked:
      type: object
      properties:
        hostname:
          type: string
        username:
          type: string
        password_last_four:
          type: string
      required:
      - hostname
      - username
      - password_last_four
    pwa_event_log_streaming_v3_EnableResponse:
      type: object
      properties:
        request_id:
          type: string
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - status_code
    pwa_event_log_streaming_v3_EventLogStreamingMasked:
      type: object
      properties:
        destination_type:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationType'
        destination_config:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationConfigMasked'
        streaming_status:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_StreamingStatus'
    pwa_event_log_streaming_v3_DisableResponse:
      type: object
      properties:
        request_id:
          type: string
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - status_code
    pwa_event_log_streaming_v3_EnableRequest:
      type: object
      properties: {}
      description: Request type
    pwa_event_log_streaming_v3_UpdateRequest:
      type: object
      properties:
        destination_config:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationConfig'
      description: Request type
    pwa_event_log_streaming_v3_UpdateResponse:
      type: object
      properties:
        request_id:
          type: string
        event_log_streaming_config:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_EventLogStreaming'
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - event_log_streaming_config
      - status_code
    pwa_event_log_streaming_v3_DeleteResponse:
      type: object
      properties:
        request_id:
          type: string
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - status_code
    pwa_event_log_streaming_v3_GrafanaLokiConfig:
      type: object
      properties:
        hostname:
          type: string
        username:
          type: string
        password:
          type: string
      required:
      - hostname
      - username
      - password
    pwa_event_log_streaming_v3_DatadogSite:
      type: string
      enum:
      - US
      - US3
      - US5
      - EU
      - AP1
    pwa_event_log_streaming_v3_GetResponse:
      type: object
      properties:
        request_id:
          type: string
        event_log_streaming_config:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_EventLogStreamingMasked'
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - event_log_streaming_config
      - status_code
    pwa_event_log_streaming_v3_DestinationConfigMasked:
      type: object
      properties:
        datadog:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DatadogConfigMasked'
        grafana_loki:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_GrafanaLokiConfigMasked'
    pwa_event_log_streaming_v3_CreateResponse:
      type: object
      properties:
        request_id:
          type: string
        event_log_streaming_config:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_EventLogStreaming'
        status_code:
          type: integer
          format: int32
      description: Response type
      required:
      - request_id
      - event_log_streaming_config
      - status_code
    pwa_event_log_streaming_v3_CreateRequest:
      type: object
      properties:
        destination_type:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationType'
        destination_config:
          $ref: '#/components/schemas/pwa_event_log_streaming_v3_DestinationConfig'
      description: Request type
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
