openapi: 3.0.3
info:
  title: Stytch Consumer Authentication API
  version: 2.0.0
  description: Stytch's Consumer API for passwordless and password-based authentication. Supports Magic Links, SMS/email/WhatsApp
    OTP, OAuth social login, TOTP, WebAuthn/Passkeys, Crypto Wallets, Sessions, Users, M2M tokens, Fraud / Device Fingerprinting,
    Connected Apps (OAuth provider / MCP), Impersonation, IDP, and Consumer RBAC.
  contact:
    name: Stytch
    url: https://stytch.com/docs
  license:
    name: Proprietary
servers:
- url: https://api.stytch.com
  description: Production
- url: https://test.stytch.com
  description: Test
tags:
- name: Connected Apps
- name: Clients
- name: User
- name: Session
- name: Consumer RBAC
- name: Crypto Wallet
- name: Debug
- name: Fraud
- name: IDP
- name: Impersonation
- name: M2M
- name: Magic Links
- name: Password
- name: Passwords
- name: OAuth
- name: OTP
- name: Project
- name: TOTP
- name: Webauthn
paths:
  /v1/connected_apps/clients/{client_id}:
    get:
      summary: Get
      operationId: api_connectedapps_v1_connected_apps_clients_Get
      tags:
      - Connected Apps
      description: Retrieve details of a specific Connected App by `client_id`.
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the Connected App client.
        description: The ID of the Connected App client.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// GET /v1/connected_apps/clients/{client_id}\nconst stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  client_id: \"${exampleConnectedAppClientID}\"\
          ,\n};\n\nclient.ConnectedApp.Clients.Get(params)\n  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err)\
          \ });"
      - lang: go
        label: Go
        source: "// GET /v1/connected_apps/clients/{client_id}\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\t\"\
          github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\"\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\"\
          \n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\
          \tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client: %v\", err)\n\t}\n\n\tparams := &clients.GetParams{\n\
          \t\tClientID: \"${exampleConnectedAppClientID}\",\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Get(context.Background(),\
          \ params)\n\tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// GET /v1/connected_apps/clients/{client_id}\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.GetRequest;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\"${projectId}\"\
          , \"${secret}\");\n\n        GetRequest params = new GetRequest();\n        params.setClientId(\"${exampleConnectedAppClientID}\"\
          );\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().get(params);\n        if (result instanceof\
          \ StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        }\
          \ else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"
      - lang: kotlin
        label: Kotlin
        source: "// GET /v1/connected_apps/clients/{client_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\n\
          import com.stytch.java.consumer.models.connectedappsclients.GetRequest\n\nfun main() {\n    StytchB2BClient.configure(\n\
          \        projectId = \"${projectId}\",\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.connectedApp.clients.get(\n                GetRequest(\n                    clientId\
          \ = \"${exampleConnectedAppClientID}\",\n                ),\n            )\n    ) {\n        is StytchResult.Success\
          \ -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// GET /v1/connected_apps/clients/{client_id}\nconst stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  client_id: \"${exampleConnectedAppClientID}\"\
          ,\n};\n\nclient.connectedApp.clients.get(params)\n  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err)\
          \ });"
      - lang: php
        label: PHP
        source: "$response = $client->connected_app->clients->get([\n    'client_id' => '${exampleConnectedAppClientID}',\n\
          ]);"
      - lang: python
        label: Python
        source: "# GET /v1/connected_apps/clients/{client_id}\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\"\
          ${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp = client.connected_app.clients.get(\n    client_id=\"${exampleConnectedAppClientID}\"\
          ,\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# GET /v1/connected_apps/clients/{client_id}\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n  project_id:\
          \ \"${projectId}\",\n  secret: \"${secret}\"\n)\n\nresp = client.connected_app.clients.get(\n  client_id: \"${exampleConnectedAppClientID}\"\
          \n  \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// GET /v1/connected_apps/clients/{client_id}\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::GetRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp = client.connected_app.clients.get(\n\
          \        GetRequest{\n            client_id: \"${exampleConnectedAppClientID}\",\n            ..Default::default()\n\
          \        }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# GET /v1/connected_apps/clients/{client_id}\ncurl --request GET \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleConnectedAppClientID}\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json'"
    put:
      summary: Update
      operationId: api_connectedapps_v1_connected_apps_clients_Update
      tags:
      - Connected Apps
      description: Updates mutable fields of a Connected App. Cannot update Client Type, Client ID, or Secrets.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_UpdateRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the client.
        description: The ID of the client.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// PUT /v1/connected_apps/clients/{client_id}\nconst stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  client_id: \"${exampleM2MClientID}\"\
          ,\n  client_name: \"My Sample Client\",\n  client_description: \"My sample client for testing out Connected Apps\"\
          ,\n  redirect_urls: [\"https://example.com/callback\"],\n  full_access_allowed: false,\n};\n\nclient.ConnectedApp.Clients.Update(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// PUT /v1/connected_apps/clients/{client_id}\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\t\"\
          github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\"\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\"\
          \n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\
          \tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client: %v\", err)\n\t}\n\n\tparams := &clients.UpdateParams{\n\
          \t\tClientID:          \"${exampleM2MClientID}\",\n\t\tClientName:        \"My Sample Client\",\n\t\tClientDescription:\
          \ \"My sample client for testing out Connected Apps\",\n\t\tRedirectURLs:      []string{\"https://example.com/callback\"\
          },\n\t\tFullAccessAllowed: false,\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Update(context.Background(),\
          \ params)\n\tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// PUT /v1/connected_apps/clients/{client_id}\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.UpdateRequest;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\"${projectId}\"\
          , \"${secret}\");\n\n        UpdateRequest params = new UpdateRequest();\n        params.setClientId(\"${exampleM2MClientID}\"\
          );\n        params.setClientName(\"My Sample Client\");\n        params.setClientDescription(\"My sample client\
          \ for testing out Connected Apps\");\n        params.setRedirectURLs(new String(\"https://example.com/callback\"\
          ));\n        params.setFullAccessAllowed(false);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().update(params);\n\
          \        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n\
          }"
      - lang: kotlin
        label: Kotlin
        source: "// PUT /v1/connected_apps/clients/{client_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\n\
          import com.stytch.java.consumer.models.connectedappsclients.UpdateRequest\n\nfun main() {\n    StytchB2BClient.configure(\n\
          \        projectId = \"${projectId}\",\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.connectedApp.clients.update(\n                UpdateRequest(\n                \
          \    clientId = \"${exampleM2MClientID}\",\n                    clientName = \"My Sample Client\",\n           \
          \         clientDescription = \"My sample client for testing out Connected Apps\",\n                    redirectURLs\
          \ = arrayOf(\"https://example.com/callback\"),\n                    fullAccessAllowed = false,\n               \
          \ ),\n            )\n    ) {\n        is StytchResult.Success -> println(result.value)\n        is StytchResult.Error\
          \ -> println(result.exception)\n    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// PUT /v1/connected_apps/clients/{client_id}\nconst stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  client_id: \"${exampleM2MClientID}\"\
          ,\n  client_name: \"My Sample Client\",\n  client_description: \"My sample client for testing out Connected Apps\"\
          ,\n  redirect_urls: [\"https://example.com/callback\"],\n  full_access_allowed: false,\n};\n\nclient.connectedApp.clients.update(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->connected_app->clients->update([\n    'client_id' => '${exampleM2MClientID}',\n    'client_name'\
          \ => 'My Sample Client',\n    'client_description' => 'My sample client for testing out Connected Apps',\n    'redirect_urls'\
          \ => ['https://example.com/callback'],\n    'full_access_allowed' => false,\n]);"
      - lang: python
        label: Python
        source: "# PUT /v1/connected_apps/clients/{client_id}\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\"\
          ${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp = client.connected_app.clients.update(\n    client_id=\"${exampleM2MClientID}\"\
          ,\n    client_name=\"My Sample Client\",\n    client_description=\"My sample client for testing out Connected Apps\"\
          ,\n    redirect_urls=[\"https://example.com/callback\"],\n    full_access_allowed=False,\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# PUT /v1/connected_apps/clients/{client_id}\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n  project_id:\
          \ \"${projectId}\",\n  secret: \"${secret}\"\n)\n\nresp = client.connected_app.clients.update(\n  client_id: \"\
          ${exampleM2MClientID}\",\n  client_name: \"My Sample Client\",\n  client_description: \"My sample client for testing\
          \ out Connected Apps\",\n  redirect_urls: ['https://example.com/callback'],\n  full_access_allowed: false\n  \n\
          )\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// PUT /v1/connected_apps/clients/{client_id}\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::UpdateRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp = client.connected_app.clients.update(\n\
          \        UpdateRequest{\n            client_id: \"${exampleM2MClientID}\",\n            client_name: Some(String::from(\"\
          My Sample Client\")),\n            client_description: Some(String::from(\"My sample client for testing out Connected\
          \ Apps\")),\n            redirect_urls: vec![\"https://example.com/callback\"],\n            full_access_allowed:\
          \ false,\n            ..Default::default()\n        }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n\
          }"
      - lang: bash
        label: cURL
        source: "# PUT /v1/connected_apps/clients/{client_id}\ncurl --request PUT \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID}\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"client_name\":\
          \ \"My Sample Client\",\n    \"client_description\": \"My sample client for testing out Connected Apps\",\n    \"\
          redirect_urls\": [\"https://example.com/callback\"],\n    \"full_access_allowed\": false\n  }'"
    delete:
      summary: Delete
      operationId: api_connectedapps_v1_connected_apps_clients_Delete
      tags:
      - Connected Apps
      description: Deletes a Connected App.
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the client.
        description: The ID of the client.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// DELETE /v1/connected_apps/clients/{client_id}\nconst stytch = require('stytch');\n\nconst client = new\
          \ stytch.B2BClient({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  client_id:\
          \ \"${exampleM2MClientID}\",\n};\n\nclient.ConnectedApp.Clients.Delete(params)\n  .then(resp => { console.log(resp)\
          \ })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// DELETE /v1/connected_apps/clients/{client_id}\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\t\
          \"github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\"\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\"\
          \n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\
          \tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client: %v\", err)\n\t}\n\n\tparams := &clients.DeleteParams{\n\
          \t\tClientID: \"${exampleM2MClientID}\",\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Delete(context.Background(),\
          \ params)\n\tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// DELETE /v1/connected_apps/clients/{client_id}\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.DeleteRequest;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\"${projectId}\"\
          , \"${secret}\");\n\n        DeleteRequest params = new DeleteRequest();\n        params.setClientId(\"${exampleM2MClientID}\"\
          );\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().delete(params);\n        if (result\
          \ instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n\
          }"
      - lang: kotlin
        label: Kotlin
        source: "// DELETE /v1/connected_apps/clients/{client_id}\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\n\
          import com.stytch.java.consumer.models.connectedappsclients.DeleteRequest\n\nfun main() {\n    StytchB2BClient.configure(\n\
          \        projectId = \"${projectId}\",\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.connectedApp.clients.delete(\n                DeleteRequest(\n                \
          \    clientId = \"${exampleM2MClientID}\",\n                ),\n            )\n    ) {\n        is StytchResult.Success\
          \ -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// DELETE /v1/connected_apps/clients/{client_id}\nconst stytch = require('stytch');\n\nconst client = new\
          \ stytch.B2BClient({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  client_id:\
          \ \"${exampleM2MClientID}\",\n};\n\nclient.connectedApp.clients.delete(params)\n  .then(resp => { console.log(resp)\
          \ })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->connected_app->clients->delete([\n    'client_id' => '${exampleM2MClientID}',\n]);"
      - lang: python
        label: Python
        source: "# DELETE /v1/connected_apps/clients/{client_id}\nfrom stytch import B2BClient\n\nclient = B2BClient(\n  \
          \  project_id=\"${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp = client.connected_app.clients.delete(\n \
          \   client_id=\"${exampleM2MClientID}\",\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# DELETE /v1/connected_apps/clients/{client_id}\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n  project_id:\
          \ \"${projectId}\",\n  secret: \"${secret}\"\n)\n\nresp = client.connected_app.clients.delete(\n  client_id: \"\
          ${exampleM2MClientID}\"\n  \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// DELETE /v1/connected_apps/clients/{client_id}\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::DeleteRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp = client.connected_app.clients.delete(\n\
          \        DeleteRequest{\n            client_id: \"${exampleM2MClientID}\",\n            ..Default::default()\n \
          \       }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# DELETE /v1/connected_apps/clients/{client_id}\ncurl --request DELETE \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID}\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json'"
  /v1/connected_apps/clients/search:
    post:
      summary: Search
      operationId: api_connectedapps_v1_connected_apps_clients_Search
      tags:
      - Connected Apps
      description: Search for Connected Apps. Supports cursor-based pagination. Specific filters coming soon.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_SearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_SearchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// POST /v1/connected_apps/clients/search\nconst stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  limit: 10,\n};\n\nclient.ConnectedApp.Clients.Search(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// POST /v1/connected_apps/clients/search\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\t\"github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\"\
          \n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\"\n)\n\nfunc main() {\n\tclient,\
          \ err := b2bstytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\"\
          error instantiating client: %v\", err)\n\t}\n\n\tparams := &clients.SearchParams{\n\t\tLimit: 10,\n\t}\n\n\tresp,\
          \ err := client.ConnectedApp.Clients.Search(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\"\
          error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// POST /v1/connected_apps/clients/search\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.SearchRequest;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\"${projectId}\"\
          , \"${secret}\");\n\n        SearchRequest params = new SearchRequest();\n        params.setLimit(10);\n\n     \
          \   Object result = StytchB2BClient.getConnectedApp().getClients().search(params);\n        if (result instanceof\
          \ StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n        }\
          \ else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n}"
      - lang: kotlin
        label: Kotlin
        source: "// POST /v1/connected_apps/clients/search\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\n\
          import com.stytch.java.consumer.models.connectedappsclients.SearchRequest\n\nfun main() {\n    StytchB2BClient.configure(\n\
          \        projectId = \"${projectId}\",\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.connectedApp.clients.search(\n                SearchRequest(\n                \
          \    limit = 10,\n                ),\n            )\n    ) {\n        is StytchResult.Success -> println(result.value)\n\
          \        is StytchResult.Error -> println(result.exception)\n    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// POST /v1/connected_apps/clients/search\nconst stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  limit: 10,\n};\n\nclient.connectedApp.clients.search(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->connected_app->clients->search([\n    'limit' => 10,\n]);"
      - lang: python
        label: Python
        source: "# POST /v1/connected_apps/clients/search\nfrom stytch import B2BClient\n\nclient = B2BClient(\n    project_id=\"\
          ${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp = client.connected_app.clients.search(\n    limit=10,\n)\n\
          \nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# POST /v1/connected_apps/clients/search\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n  project_id:\
          \ \"${projectId}\",\n  secret: \"${secret}\"\n)\n\nresp = client.connected_app.clients.search(\n  limit: 10\n  \n\
          )\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// POST /v1/connected_apps/clients/search\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::SearchRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp = client.connected_app.clients.search(\n\
          \        SearchRequest{\n            limit: 10,\n            ..Default::default()\n        }\n    ).await;\n   \
          \ println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# POST /v1/connected_apps/clients/search\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients/search\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"limit\": 10\n \
          \ }'"
  /v1/connected_apps/clients:
    post:
      summary: Create
      operationId: api_connectedapps_v1_connected_apps_clients_Create
      tags:
      - Connected Apps
      description: 'Creates a new Connected App. If the Connected App `client_type` is `first_party` or `third_party` a `client_secret`
        is returned.


        **Important:** This is the only time you will be able to view the generated `client_secret` in the API response. Stytch
        stores a hash of the `client_secret` and cannot recover the value if lost. Be sure to persist the `client_secret`
        in a secure location. If the `client_secret` is lost, you will need to trigger a secret rotation flow to receive another
        one.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_CreateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// POST /v1/connected_apps/clients\nconst stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  client_type: \"first_party\"\
          ,\n  client_name: \"My Sample Client\",\n  client_description: \"My sample client for testing out Connected Apps\"\
          ,\n  redirect_urls: [\"https://example.com/callback\"],\n  full_access_allowed: false,\n};\n\nclient.ConnectedApp.Clients.Create(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// POST /v1/connected_apps/clients\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\t\"github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\"\
          \n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients\"\n)\n\nfunc main() {\n\tclient,\
          \ err := b2bstytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\"\
          error instantiating client: %v\", err)\n\t}\n\n\tparams := &clients.CreateParams{\n\t\tClientType:        clients.CreateRequestClientTypeFirstParty,\n\
          \t\tClientName:        \"My Sample Client\",\n\t\tClientDescription: \"My sample client for testing out Connected\
          \ Apps\",\n\t\tRedirectURLs:      []string{\"https://example.com/callback\"},\n\t\tFullAccessAllowed: false,\n\t\
          }\n\n\tresp, err := client.ConnectedApp.Clients.Create(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\"\
          error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// POST /v1/connected_apps/clients\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclients.CreateRequest;\n\
          import com.stytch.java.consumer.models.connectedappsclients.CreateRequestClientType;\n\npublic class Main {\n  \
          \  public static void main(String[] args) {\n        StytchB2BClient.configure(\"${projectId}\", \"${secret}\");\n\
          \n        CreateRequest params = new CreateRequest();\n        params.setClientType(CreateRequestClientType.FIRST_PARTY);\n\
          \        params.setClientName(\"My Sample Client\");\n        params.setClientDescription(\"My sample client for\
          \ testing out Connected Apps\");\n        params.setRedirectURLs(new String(\"https://example.com/callback\"));\n\
          \        params.setFullAccessAllowed(false);\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().create(params);\n\
          \        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n\
          }"
      - lang: kotlin
        label: Kotlin
        source: "// POST /v1/connected_apps/clients\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\nimport\
          \ com.stytch.java.consumer.models.connectedappsclients.CreateRequest\nimport com.stytch.java.consumer.models.connectedappsclients.CreateRequestClientType\n\
          \nfun main() {\n    StytchB2BClient.configure(\n        projectId = \"${projectId}\",\n        secret = \"${secret}\"\
          ,\n    )\n\n    when (\n        val result =\n            StytchB2BClient.connectedApp.clients.create(\n       \
          \         CreateRequest(\n                    clientType = CreateRequestClientType.FIRST_PARTY,\n              \
          \      clientName = \"My Sample Client\",\n                    clientDescription = \"My sample client for testing\
          \ out Connected Apps\",\n                    redirectURLs = arrayOf(\"https://example.com/callback\"),\n       \
          \             fullAccessAllowed = false,\n                ),\n            )\n    ) {\n        is StytchResult.Success\
          \ -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// POST /v1/connected_apps/clients\nconst stytch = require('stytch');\n\nconst client = new stytch.B2BClient({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  client_type: \"first_party\"\
          ,\n  client_name: \"My Sample Client\",\n  client_description: \"My sample client for testing out Connected Apps\"\
          ,\n  redirect_urls: [\"https://example.com/callback\"],\n  full_access_allowed: false,\n};\n\nclient.connectedApp.clients.create(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->connected_app->clients->create([\n    'client_type' => 'first_party',\n    'client_name'\
          \ => 'My Sample Client',\n    'client_description' => 'My sample client for testing out Connected Apps',\n    'redirect_urls'\
          \ => ['https://example.com/callback'],\n    'full_access_allowed' => false,\n]);"
      - lang: python
        label: Python
        source: "# POST /v1/connected_apps/clients\nfrom stytch import B2BClient\nfrom stytch.consumer.models.connected_apps_clients\
          \ import CreateRequestClientType\n\nclient = B2BClient(\n    project_id=\"${projectId}\",\n    secret=\"${secret}\"\
          ,\n)\n\nresp = client.connected_app.clients.create(\n    client_type=CreateRequestClientType.FIRST_PARTY,\n    client_name=\"\
          My Sample Client\",\n    client_description=\"My sample client for testing out Connected Apps\",\n    redirect_urls=[\"\
          https://example.com/callback\"],\n    full_access_allowed=False,\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# POST /v1/connected_apps/clients\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n  project_id: \"\
          ${projectId}\",\n  secret: \"${secret}\"\n)\n\nresp = client.connected_app.clients.create(\n  client_type: \"first_party\"\
          ,\n  client_name: \"My Sample Client\",\n  client_description: \"My sample client for testing out Connected Apps\"\
          ,\n  redirect_urls: ['https://example.com/callback'],\n  full_access_allowed: false\n  \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// POST /v1/connected_apps/clients\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients::CreateRequestClientType;\n\
          use stytch::consumer::connected_apps_clients::CreateRequest;\n\nfn main() {\n    let client = Client::new(\"${projectId}\"\
          , \"${secret}\").unwrap();\n    let resp = client.connected_app.clients.create(\n        CreateRequest{\n      \
          \      client_type: CreateRequestClientType::FIRST_PARTY,\n            client_name: Some(String::from(\"My Sample\
          \ Client\")),\n            client_description: Some(String::from(\"My sample client for testing out Connected Apps\"\
          )),\n            redirect_urls: vec![\"https://example.com/callback\"],\n            full_access_allowed: false,\n\
          \            ..Default::default()\n        }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# POST /v1/connected_apps/clients\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"client_type\":\
          \ \"first_party\",\n    \"client_name\": \"My Sample Client\",\n    \"client_description\": \"My sample client for\
          \ testing out Connected Apps\",\n    \"redirect_urls\": [\"https://example.com/callback\"],\n    \"full_access_allowed\"\
          : false\n  }'"
  /v1/connected_apps/clients/{client_id}/secrets/rotate/start:
    post:
      summary: Rotatestart
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_RotateStart
      tags:
      - Clients
      description: 'Initiate the rotation of a Connected App client secret. After this endpoint is called, both the client''s
        `client_secret` and `next_client_secret` will be valid. To complete the secret rotation flow, update all usages of
        `client_secret` to `next_client_secret` and call the Rotate Secret Endpoint to complete the flow.

        Secret rotation can be cancelled using the Cancel Secret Rotation endpoint.


        **Important:** This is the only time you will be able to view the generated `next_client_secret` in the API response.
        Stytch stores a hash of the `next_client_secret` and cannot recover the value if lost. Be sure to persist the `next_client_secret`
        in a secure location. If the `next_client_secret` is lost, you will need to trigger a secret rotation flow to receive
        another one.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateStartRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the client.
        description: The ID of the client.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateStartResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nconst stytch = require('stytch');\n\n\
          const client = new stytch.B2BClient({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params\
          \ = {\n  client_id: \"${exampleM2MClientID}\",\n};\n\nclient.ConnectedApp.Clients.Secrets.RotateStart(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\npackage main\n\nimport (\n\t\"context\"\
          \n\t\"log\"\n\n\t\"github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\"\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients/secrets\"\
          \n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\
          \tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client: %v\", err)\n\t}\n\n\tparams := &secrets.RotateStartParams{\n\
          \t\tClientID: \"${exampleM2MClientID}\",\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Secrets.RotateStart(context.Background(),\
          \ params)\n\tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateStartRequest;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\"${projectId}\"\
          , \"${secret}\");\n\n        RotateStartRequest params = new RotateStartRequest();\n        params.setClientId(\"\
          ${exampleM2MClientID}\");\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().getSecrets().rotateStart(params);\n\
          \        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n\
          }"
      - lang: kotlin
        label: Kotlin
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\n\
          import com.stytch.java.consumer.models.connectedappsclientssecrets.RotateStartRequest\n\nfun main() {\n    StytchB2BClient.configure(\n\
          \        projectId = \"${projectId}\",\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.connectedApp.clients.secrets.rotateStart(\n                RotateStartRequest(\n\
          \                    clientId = \"${exampleM2MClientID}\",\n                ),\n            )\n    ) {\n       \
          \ is StytchResult.Success -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n\
          \    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nconst stytch = require('stytch');\n\n\
          const client = new stytch.B2BClient({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params\
          \ = {\n  client_id: \"${exampleM2MClientID}\",\n};\n\nclient.connectedApp.clients.secrets.rotateStart(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->connected_app->clients->secrets->rotate_start([\n    'client_id' => '${exampleM2MClientID}',\n\
          ]);"
      - lang: python
        label: Python
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nfrom stytch import B2BClient\n\nclient\
          \ = B2BClient(\n    project_id=\"${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp = client.connected_app.clients.secrets.rotate_start(\n\
          \    client_id=\"${exampleM2MClientID}\",\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n\
          \  project_id: \"${projectId}\",\n  secret: \"${secret}\"\n)\n\nresp = client.connected_app.clients.secrets.rotate_start(\n\
          \  client_id: \"${exampleM2MClientID}\"\n  \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\nuse stytch::b2b::client::Client;\nuse\
          \ stytch::consumer::connected_apps_clients_secrets::RotateStartRequest;\n\nfn main() {\n    let client = Client::new(\"\
          ${projectId}\", \"${secret}\").unwrap();\n    let resp = client.connected_app.clients.secrets.rotate_start(\n  \
          \      RotateStartRequest{\n            client_id: \"${exampleM2MClientID}\",\n            ..Default::default()\n\
          \        }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/start\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID}/secrets/rotate/start\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json'"
  /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel:
    post:
      summary: Rotatecancel
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_RotateCancel
      tags:
      - Clients
      description: Cancel the rotation of a Connected App client secret started with the Start Secret Rotation Endpoint. After
        this endpoint is called, the client's `next_client_secret` is discarded and only the original `client_secret` will
        be valid.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateCancelRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the client.
        description: The ID of the client.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateCancelResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nconst stytch = require('stytch');\n\
          \nconst client = new stytch.B2BClient({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params\
          \ = {\n  client_id: \"${exampleM2MClientID}\",\n};\n\nclient.ConnectedApp.Clients.Secrets.RotateCancel(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\npackage main\n\nimport (\n\t\"context\"\
          \n\t\"log\"\n\n\t\"github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\"\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients/secrets\"\
          \n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\
          \tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client: %v\", err)\n\t}\n\n\tparams := &secrets.RotateCancelParams{\n\
          \t\tClientID: \"${exampleM2MClientID}\",\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Secrets.RotateCancel(context.Background(),\
          \ params)\n\tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateCancelRequest;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\"${projectId}\"\
          , \"${secret}\");\n\n        RotateCancelRequest params = new RotateCancelRequest();\n        params.setClientId(\"\
          ${exampleM2MClientID}\");\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().getSecrets().rotateCancel(params);\n\
          \        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n\
          }"
      - lang: kotlin
        label: Kotlin
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\n\
          import com.stytch.java.consumer.models.connectedappsclientssecrets.RotateCancelRequest\n\nfun main() {\n    StytchB2BClient.configure(\n\
          \        projectId = \"${projectId}\",\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.connectedApp.clients.secrets.rotateCancel(\n                RotateCancelRequest(\n\
          \                    clientId = \"${exampleM2MClientID}\",\n                ),\n            )\n    ) {\n       \
          \ is StytchResult.Success -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n\
          \    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nconst stytch = require('stytch');\n\
          \nconst client = new stytch.B2BClient({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params\
          \ = {\n  client_id: \"${exampleM2MClientID}\",\n};\n\nclient.connectedApp.clients.secrets.rotateCancel(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->connected_app->clients->secrets->rotate_cancel([\n    'client_id' => '${exampleM2MClientID}',\n\
          ]);"
      - lang: python
        label: Python
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nfrom stytch import B2BClient\n\nclient\
          \ = B2BClient(\n    project_id=\"${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp = client.connected_app.clients.secrets.rotate_cancel(\n\
          \    client_id=\"${exampleM2MClientID}\",\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n\
          \  project_id: \"${projectId}\",\n  secret: \"${secret}\"\n)\n\nresp = client.connected_app.clients.secrets.rotate_cancel(\n\
          \  client_id: \"${exampleM2MClientID}\"\n  \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\nuse stytch::b2b::client::Client;\n\
          use stytch::consumer::connected_apps_clients_secrets::RotateCancelRequest;\n\nfn main() {\n    let client = Client::new(\"\
          ${projectId}\", \"${secret}\").unwrap();\n    let resp = client.connected_app.clients.secrets.rotate_cancel(\n \
          \       RotateCancelRequest{\n            client_id: \"${exampleM2MClientID}\",\n            ..Default::default()\n\
          \        }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate/cancel\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID}/secrets/rotate/cancel\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json'"
  /v1/connected_apps/clients/{client_id}/secrets/rotate:
    post:
      summary: Rotate
      operationId: api_connectedapps_v1_connected_apps_clients_secrets_Rotate
      tags:
      - Clients
      description: 'Complete the rotation of a Connected App client secret started with the Rotate Secret Start Endpoint.

        After this endpoint is called, the client''s `next_client_secret` becomes its `client_secret` and the previous `client_secret`
        will no longer be valid.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateRequest'
      parameters:
      - name: client_id
        in: path
        required: true
        schema:
          type: string
          description: The ID of the client.
        description: The ID of the client.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_connectedapps_v1_connected_apps_clients_secrets_RotateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nconst stytch = require('stytch');\n\nconst\
          \ client = new stytch.B2BClient({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params =\
          \ {\n  client_id: \"${exampleM2MClientID}\",\n};\n\nclient.ConnectedApp.Clients.Secrets.Rotate(params)\n  .then(resp\
          \ => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\npackage main\n\nimport (\n\t\"context\"\n\t\
          \"log\"\n\n\t\"github.com/stytchauth/stytch-go/v17/stytch/b2b/b2bstytchapi\"\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/connectedapps/clients/secrets\"\
          \n)\n\nfunc main() {\n\tclient, err := b2bstytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\
          \tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client: %v\", err)\n\t}\n\n\tparams := &secrets.RotateParams{\n\
          \t\tClientID: \"${exampleM2MClientID}\",\n\t}\n\n\tresp, err := client.ConnectedApp.Clients.Secrets.Rotate(context.Background(),\
          \ params)\n\tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\npackage com.example;\n\nimport com.stytch.java.b2b.StytchB2BClient;\n\
          import com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.connectedappsclientssecrets.RotateRequest;\n\
          \npublic class Main {\n    public static void main(String[] args) {\n        StytchB2BClient.configure(\"${projectId}\"\
          , \"${secret}\");\n\n        RotateRequest params = new RotateRequest();\n        params.setClientId(\"${exampleM2MClientID}\"\
          );\n\n        Object result = StytchB2BClient.getConnectedApp().getClients().getSecrets().rotate(params);\n    \
          \    if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n\
          }"
      - lang: kotlin
        label: Kotlin
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\npackage com.example\n\nimport com.stytch.java.b2b.StytchB2BClient\n\
          import com.stytch.java.consumer.models.connectedappsclientssecrets.RotateRequest\n\nfun main() {\n    StytchB2BClient.configure(\n\
          \        projectId = \"${projectId}\",\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result\
          \ =\n            StytchB2BClient.connectedApp.clients.secrets.rotate(\n                RotateRequest(\n        \
          \            clientId = \"${exampleM2MClientID}\",\n                ),\n            )\n    ) {\n        is StytchResult.Success\
          \ -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nconst stytch = require('stytch');\n\nconst\
          \ client = new stytch.B2BClient({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params =\
          \ {\n  client_id: \"${exampleM2MClientID}\",\n};\n\nclient.connectedApp.clients.secrets.rotate(params)\n  .then(resp\
          \ => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->connected_app->clients->secrets->rotate([\n    'client_id' => '${exampleM2MClientID}',\n\
          ]);"
      - lang: python
        label: Python
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nfrom stytch import B2BClient\n\nclient = B2BClient(\n\
          \    project_id=\"${projectId}\",\n    secret=\"${secret}\",\n)\n\nresp = client.connected_app.clients.secrets.rotate(\n\
          \    client_id=\"${exampleM2MClientID}\",\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nrequire 'stytch'\n\nclient = StytchB2B::Client.new(\n\
          \  project_id: \"${projectId}\",\n  secret: \"${secret}\"\n)\n\nresp = client.connected_app.clients.secrets.rotate(\n\
          \  client_id: \"${exampleM2MClientID}\"\n  \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// POST /v1/connected_apps/clients/{client_id}/secrets/rotate\nuse stytch::b2b::client::Client;\nuse stytch::consumer::connected_apps_clients_secrets::RotateRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp = client.connected_app.clients.secrets.rotate(\n\
          \        RotateRequest{\n            client_id: \"${exampleM2MClientID}\",\n            ..Default::default()\n \
          \       }\n    ).await;\n    println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# POST /v1/connected_apps/clients/{client_id}/secrets/rotate\ncurl --request POST \\\n  --url https://test.stytch.com/v1/connected_apps/clients/${exampleM2MClientID}/secrets/rotate\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json'"
  /v1/users:
    post:
      summary: Create
      operationId: api_user_v1_Create
      tags:
      - User
      description: Add a User to Stytch. A `user_id` is returned in the response that can then be used to perform other operations
        within Stytch. An `email` or a `phone_number` is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_CreateRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_CreateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// POST /v1/users\nconst stytch = require('stytch');\n\nconst client = new stytch.Client({\n  project_id:\
          \ '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  email: \"${email}\",\n  external_id: \"my-external-id\"\
          ,\n};\n\nclient.Users.Create(params)\n  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err)\
          \ });"
      - lang: go
        label: Go
        source: "// POST /v1/users\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/stytchapi\"\
          \n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/users\"\n)\n\nfunc main() {\n\tclient, err := stytchapi.NewClient(\n\
          \t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client:\
          \ %v\", err)\n\t}\n\n\tparams := &users.CreateParams{\n\t\tEmail:      \"${email}\",\n\t\tExternalID: \"my-external-id\"\
          ,\n\t}\n\n\tresp, err := client.Users.Create(context.Background(), params)\n\tif err != nil {\n\t\tlog.Fatalf(\"\
          error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// POST /v1/users\npackage com.example;\n\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.users.CreateRequest;\n\
          import com.stytch.java.consumer.StytchClient;\n\npublic class Main {\n    public static void main(String[] args)\
          \ {\n        StytchClient.configure(\"${projectId}\", \"${secret}\");\n\n        CreateRequest params = new CreateRequest();\n\
          \        params.setEmail(\"${email}\");\n        params.setExternalId(\"my-external-id\");\n\n        Object result\
          \ = StytchClient.getUsers().create(params);\n        if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success)\
          \ result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n\
          \        }\n    }\n}"
      - lang: kotlin
        label: Kotlin
        source: "// POST /v1/users\npackage com.example\n\nimport com.stytch.java.consumer.StytchClient\nimport com.stytch.java.consumer.models.users.CreateRequest\n\
          \nfun main() {\n    StytchClient.configure(\n        projectId = \"${projectId}\",\n        secret = \"${secret}\"\
          ,\n    )\n\n    when (\n        val result =\n            StytchClient.users.create(\n                CreateRequest(\n\
          \                    email = \"${email}\",\n                    externalId = \"my-external-id\",\n             \
          \   ),\n            )\n    ) {\n        is StytchResult.Success -> println(result.value)\n        is StytchResult.Error\
          \ -> println(result.exception)\n    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// POST /v1/users\nconst stytch = require('stytch');\n\nconst client = new stytch.Client({\n  project_id:\
          \ '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  email: \"${email}\",\n  external_id: \"my-external-id\"\
          ,\n};\n\nclient.users.create(params)\n  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err)\
          \ });"
      - lang: php
        label: PHP
        source: "$response = $client->users->create([\n    'email' => '${email}',\n    'external_id' => 'my-external-id',\n\
          ]);"
      - lang: python
        label: Python
        source: "# POST /v1/users\nfrom stytch import Client\n\nclient = Client(\n    project_id=\"${projectId}\",\n    secret=\"\
          ${secret}\",\n)\n\nresp = client.users.create(\n    email=\"${email}\",\n    external_id=\"my-external-id\",\n)\n\
          \nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# POST /v1/users\nrequire 'stytch'\n\nclient = Stytch::Client.new(\n  project_id: \"${projectId}\",\n  secret:\
          \ \"${secret}\"\n)\n\nresp = client.users.create(\n  email: \"${email}\",\n  external_id: \"my-external-id\"\n \
          \ \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// POST /v1/users\nuse stytch::consumer::client::Client;\nuse stytch::consumer::users::CreateRequest;\n\n\
          fn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp = client.users.create(\n\
          \        CreateRequest{\n            email: Some(String::from(\"${email}\")),\n            external_id: Some(String::from(\"\
          my-external-id\")),\n            ..Default::default()\n        }\n    ).await;\n    println!(\"The response is {:?}\"\
          , resp);\n}"
      - lang: bash
        label: cURL
        source: "# POST /v1/users\ncurl --request POST \\\n  --url https://test.stytch.com/v1/users \\\n  -u '${projectId}:${secret}'\
          \ \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n    \"email\": \"${email}\",\n    \"external_id\": \"my-external-id\"\
          \n  }'"
  /v1/users/{user_id}:
    get:
      summary: Get
      operationId: api_user_v1_Get
      tags:
      - User
      description: Get information about a specific User.
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          description: The unique ID of a specific User. You may use an `external_id` here if one is set for the user.
        description: The unique ID of a specific User. You may use an `external_id` here if one is set for the user.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_GetResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// GET /v1/users/{user_id}\nconst stytch = require('stytch');\n\nconst client = new stytch.Client({\n  project_id:\
          \ '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  user_id: \"${userId}\",\n};\n\nclient.Users.Get(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// GET /v1/users/{user_id}\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/stytchapi\"\
          \n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/users\"\n)\n\nfunc main() {\n\tclient, err := stytchapi.NewClient(\n\
          \t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client:\
          \ %v\", err)\n\t}\n\n\tparams := &users.GetParams{\n\t\tUserID: \"${userId}\",\n\t}\n\n\tresp, err := client.Users.Get(context.Background(),\
          \ params)\n\tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// GET /v1/users/{user_id}\npackage com.example;\n\nimport com.stytch.java.common.StytchResult;\nimport com.stytch.java.consumer.models.users.GetRequest;\n\
          import com.stytch.java.consumer.StytchClient;\n\npublic class Main {\n    public static void main(String[] args)\
          \ {\n        StytchClient.configure(\"${projectId}\", \"${secret}\");\n\n        GetRequest params = new GetRequest();\n\
          \        params.setUserId(\"${userId}\");\n\n        Object result = StytchClient.getUsers().get(params);\n    \
          \    if (result instanceof StytchResult.Success) {\n          System.out.println(((StytchResult.Success) result).getValue());\n\
          \        } else {\n          System.out.println(((StytchResult.Error) result).getException());\n        }\n    }\n\
          }"
      - lang: kotlin
        label: Kotlin
        source: "// GET /v1/users/{user_id}\npackage com.example\n\nimport com.stytch.java.consumer.StytchClient\nimport com.stytch.java.consumer.models.users.GetRequest\n\
          \nfun main() {\n    StytchClient.configure(\n        projectId = \"${projectId}\",\n        secret = \"${secret}\"\
          ,\n    )\n\n    when (\n        val result =\n            StytchClient.users.get(\n                GetRequest(\n\
          \                    userId = \"${userId}\",\n                ),\n            )\n    ) {\n        is StytchResult.Success\
          \ -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// GET /v1/users/{user_id}\nconst stytch = require('stytch');\n\nconst client = new stytch.Client({\n  project_id:\
          \ '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  user_id: \"${userId}\",\n};\n\nclient.users.get(params)\n\
          \  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->users->get([\n    'user_id' => '${userId}',\n]);"
      - lang: python
        label: Python
        source: "# GET /v1/users/{user_id}\nfrom stytch import Client\n\nclient = Client(\n    project_id=\"${projectId}\"\
          ,\n    secret=\"${secret}\",\n)\n\nresp = client.users.get(\n    user_id=\"${userId}\",\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# GET /v1/users/{user_id}\nrequire 'stytch'\n\nclient = Stytch::Client.new(\n  project_id: \"${projectId}\"\
          ,\n  secret: \"${secret}\"\n)\n\nresp = client.users.get(\n  user_id: \"${userId}\"\n  \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// GET /v1/users/{user_id}\nuse stytch::consumer::client::Client;\nuse stytch::consumer::users::GetRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp = client.users.get(\n\
          \        GetRequest{\n            user_id: \"${userId}\",\n            ..Default::default()\n        }\n    ).await;\n\
          \    println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# GET /v1/users/{user_id}\ncurl --request GET \\\n  --url https://test.stytch.com/v1/users/${userId} \\\n\
          \  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json'"
    put:
      summary: Update
      operationId: api_user_v1_Update
      tags:
      - User
      description: 'Update a User''s attributes.


        **Note:** In order to add a new email address or phone number to an existing User object, pass the new email address
        or phone number into the respective `/send` endpoint for the authentication method of your choice. If you specify
        the existing User''s `user_id` while calling the `/send` endpoint, the new, unverified email address or phone number
        will be added to the existing User object. If the user successfully authenticates within 5 minutes of the `/send`
        request, the new email address or phone number will be marked as verified and remain permanently on the existing Stytch
        User. Otherwise, it will be removed from the User object, and any subsequent login requests using that phone number
        will create a new User. We require this process to guard against an account takeover vulnerability.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_UpdateRequest'
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          description: The unique ID of a specific User. You may use an `external_id` here if one is set for the user.
        description: The unique ID of a specific User. You may use an `external_id` here if one is set for the user.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_UpdateResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
    delete:
      summary: Delete
      operationId: api_user_v1_Delete
      tags:
      - User
      description: Delete a User from Stytch.
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          description: The unique ID of a specific User. You may use an `external_id` here if one is set for the user.
        description: The unique ID of a specific User. You may use an `external_id` here if one is set for the user.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_DeleteResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// DELETE /v1/users/{user_id}\nconst stytch = require('stytch');\n\nconst client = new stytch.Client({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  user_id: \"${userId}\",\n};\n\
          \nclient.Users.Delete(params)\n  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: go
        label: Go
        source: "// DELETE /v1/users/{user_id}\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/stytchapi\"\
          \n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/users\"\n)\n\nfunc main() {\n\tclient, err := stytchapi.NewClient(\n\
          \t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\tif err != nil {\n\t\tlog.Fatalf(\"error instantiating client:\
          \ %v\", err)\n\t}\n\n\tparams := &users.DeleteParams{\n\t\tUserID: \"${userId}\",\n\t}\n\n\tresp, err := client.Users.Delete(context.Background(),\
          \ params)\n\tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
        source: "// DELETE /v1/users/{user_id}\npackage com.example;\n\nimport com.stytch.java.common.StytchResult;\nimport\
          \ com.stytch.java.consumer.models.users.DeleteRequest;\nimport com.stytch.java.consumer.StytchClient;\n\npublic\
          \ class Main {\n    public static void main(String[] args) {\n        StytchClient.configure(\"${projectId}\", \"\
          ${secret}\");\n\n        DeleteRequest params = new DeleteRequest();\n        params.setUserId(\"${userId}\");\n\
          \n        Object result = StytchClient.getUsers().delete(params);\n        if (result instanceof StytchResult.Success)\
          \ {\n          System.out.println(((StytchResult.Success) result).getValue());\n        } else {\n          System.out.println(((StytchResult.Error)\
          \ result).getException());\n        }\n    }\n}"
      - lang: kotlin
        label: Kotlin
        source: "// DELETE /v1/users/{user_id}\npackage com.example\n\nimport com.stytch.java.consumer.StytchClient\nimport\
          \ com.stytch.java.consumer.models.users.DeleteRequest\n\nfun main() {\n    StytchClient.configure(\n        projectId\
          \ = \"${projectId}\",\n        secret = \"${secret}\",\n    )\n\n    when (\n        val result =\n            StytchClient.users.delete(\n\
          \                DeleteRequest(\n                    userId = \"${userId}\",\n                ),\n            )\n\
          \    ) {\n        is StytchResult.Success -> println(result.value)\n        is StytchResult.Error -> println(result.exception)\n\
          \    }\n}\n"
      - lang: javascript
        label: Node.js
        source: "// DELETE /v1/users/{user_id}\nconst stytch = require('stytch');\n\nconst client = new stytch.Client({\n\
          \  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  user_id: \"${userId}\",\n};\n\
          \nclient.users.delete(params)\n  .then(resp => { console.log(resp) })\n  .catch(err => { console.log(err) });"
      - lang: php
        label: PHP
        source: "$response = $client->users->delete([\n    'user_id' => '${userId}',\n]);"
      - lang: python
        label: Python
        source: "# DELETE /v1/users/{user_id}\nfrom stytch import Client\n\nclient = Client(\n    project_id=\"${projectId}\"\
          ,\n    secret=\"${secret}\",\n)\n\nresp = client.users.delete(\n    user_id=\"${userId}\",\n)\n\nprint(resp)\n"
      - lang: ruby
        label: Ruby
        source: "# DELETE /v1/users/{user_id}\nrequire 'stytch'\n\nclient = Stytch::Client.new(\n  project_id: \"${projectId}\"\
          ,\n  secret: \"${secret}\"\n)\n\nresp = client.users.delete(\n  user_id: \"${userId}\"\n  \n)\n\nputs resp"
      - lang: rust
        label: Rust
        source: "// DELETE /v1/users/{user_id}\nuse stytch::consumer::client::Client;\nuse stytch::consumer::users::DeleteRequest;\n\
          \nfn main() {\n    let client = Client::new(\"${projectId}\", \"${secret}\").unwrap();\n    let resp = client.users.delete(\n\
          \        DeleteRequest{\n            user_id: \"${userId}\",\n            ..Default::default()\n        }\n    ).await;\n\
          \    println!(\"The response is {:?}\", resp);\n}"
      - lang: bash
        label: cURL
        source: "# DELETE /v1/users/{user_id}\ncurl --request DELETE \\\n  --url https://test.stytch.com/v1/users/${userId}\
          \ \\\n  -u '${projectId}:${secret}' \\\n  -H 'Content-Type: application/json'"
  /v1/users/search:
    post:
      summary: Search
      operationId: api_user_v1_Search
      tags:
      - User
      description: '

        **Warning**: This endpoint is not recommended for use in login flows. Scaling issues may occur, as search performance
        may vary from ~150 milliseconds to 9 seconds depending on query complexity and rate limits are set to 150 requests/minute.


        Search for Users within your Stytch Project.


        Use the `query` object to filter by different fields. See the `query.operands.filter_value` documentation below for
        a list of available filters.


        ### Export all User data


        Submit an empty `query` in your Search Users request to return all of your Stytch Project''s Users.


        [This Github repository](https://github.com/stytchauth/stytch-node-export-users) contains a utility that leverages
        the Search Users endpoint to export all of your User data to a CSV or JSON file.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_SearchRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_SearchResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
  /v1/users/{user_id}/exchange_primary_factor:
    put:
      summary: Exchangeprimaryfactor
      operationId: api_user_v1_ExchangePrimaryFactor
      tags:
      - User
      description: 'Exchange a user''s email address or phone number for another.


        Must pass either an `email_address` or a `phone_number`.


        This endpoint only works if the user has exactly one factor. You are able to exchange the type of factor for another
        as well, i.e. exchange an `email_address` for a `phone_number`.


        Use this endpoint with caution as it performs an admin level action.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api_user_v1_ExchangePrimaryFactorRequest'
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
          description: The unique ID of a specific User. You may use an `external_id` here if one is set for the user.
        description: The unique ID of a specific User. You may use an `external_id` here if one is set for the user.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api_user_v1_ExchangePrimaryFactorResponse'
        '400':
          description: Bad request
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status_code: 401
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: unauthorized_credentials
                error_message: Unauthorized credentials.
                error_url: https://stytch.com/docs/api/errors/401
        '429':
          description: Too Many Requests
          content:
            application/json:
              example:
                status_code: 429
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: too_many_requests
                error_message: Too many requests have been made.
                error_url: https://stytch.com/docs/api/errors/429
        '500':
          description: Internal server error
          content:
            application/json:
              example:
                status_code: 500
                request_id: request-id-test-b05c992f-ebdc-489d-a754-c7e70ba13141
                error_type: internal_server_error
                error_message: Oops, something seems to have gone wrong, please reach out to support@stytch.com to let us
                  know what went wrong.
                error_url: https://stytch.com/docs/api/errors/500
      x-code-samples:
      - lang: csharp
        label: C#
        source: "// PUT /v1/users/{user_id}/exchange_primary_factor\nconst stytch = require('stytch');\n\nconst client = new\
          \ stytch.Client({\n  project_id: '${projectId}',\n  secret: '${secret}',\n});\n\nconst params = {\n  user_id: \"\
          ${userId}\",\n};\n\nclient.Users.ExchangePrimaryFactor(params)\n  .then(resp => { console.log(resp) })\n  .catch(err\
          \ => { console.log(err) });"
      - lang: go
        label: Go
        source: "// PUT /v1/users/{user_id}/exchange_primary_factor\npackage main\n\nimport (\n\t\"context\"\n\t\"log\"\n\n\
          \t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/stytchapi\"\n\t\"github.com/stytchauth/stytch-go/v17/stytch/consumer/users\"\
          \n)\n\nfunc main() {\n\tclient, err := stytchapi.NewClient(\n\t\t\"${projectId}\",\n\t\t\"${secret}\",\n\t)\n\t\
          if err != nil {\n\t\tlog.Fatalf(\"error instantiating client: %v\", err)\n\t}\n\n\tparams := &users.ExchangePrimaryFactorParams{\n\
          \t\tUserID: \"${userId}\",\n\t}\n\n\tresp, err := client.Users.ExchangePrimaryFactor(context.Background(), params)\n\
          \tif err != nil {\n\t\tlog.Fatalf(\"error in method call: %v\", err)\n\t}\n\n\tlog.Println(resp)\n}\n"
      - lang: java
        label: Java
[...]
